@import 'styles/variables';
@import 'styles/mixins';

$header_height_desktop: 45vw;
$header_height_mobile: 300px;
$contacts_height: 36px;

.landing-header {
  background: rgb(150, 171, 179);
  background-image: url('./media/header.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: left;
  transition: background $transition_duration $transition_function,
              background-size $transition_duration $transition_function;

  @include respond_to(mobile) {
    height: $header_height_mobile;
  }

  @include respond_to(desktop) {
    height: $header_height_desktop;
    max-height: 600px;
    min-height: 200px;
  }

  &__contacts {
    height: $contacts_height;
    display: inline-block;
    line-height: 26px;
    padding: 5px 8px;
    border-radius: 5px;
    background: rgba(44, 44, 44, .3);

    &-wrapper {
      min-width: $screen_min;
      max-width: $screen_max;
      margin: auto;
      height: 100%;
      padding: $screen_padding;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      @include respond_to(mobile) {
        align-items: center;
      }

      @include respond_to(desktop) {
        align-items: flex-start;
      }
    }

    &-title {
      display: none;
    }
  }

  &__contact {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 26px;
    height: 26px;
    margin-right: 6px;
    overflow: hidden;

    &:last-child {
      margin-right: 0px;
    }

    a {
      display: inline-block;
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
      overflow: hidden;
      text-indent: 9999px;
      opacity: .8;
      transition: opacity $transition_duration $transition_function;

      &:hover {
        opacity: 1;
      }
    }

    &--mail a {
      background-image: url('./media/contacts/mail.png');
    }

    &--github a {
      background-image: url('./media/contacts/github.png');
    }

    &--instagram a {
      background-image: url('./media/contacts/instagram.png');
    }

    &--skype a {
      background-image: url('./media/contacts/skype.png');
    }

    &--telegram a {
      background-image: url('./media/contacts/telegram.png');
    }

    &--vk a {
      background-image: url('./media/contacts/vk.png');
    }

    &--facebook a {
      background-image: url('./media/contacts/facebook.png');
    }

    &--flickr a {
      background-image: url('./media/contacts/flickr.png');
      border-radius: 12px;
    }

    &--500px a {
      background-image: url('./media/contacts/500px.png');
    }
  }
}