@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
@import 'styles/variables';
@import 'styles/mixins';

body { line-height: 1; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object { padding: 0; margin: 0; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
h1, h2, h3, h4, h5, h6, strong, th, var, address, caption, cite, code, dfn, em { font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
table { border-collapse: collapse; border-spacing: 0; }
ol,ul { list-style: none; }
fieldset, img, abbr, acronym { border: 0; }
q:before,q:after { content: ''; }
caption, th { text-align: left; }
input, textarea { outline:none!important; }
textarea { resize:none; }
a { outline: none; }

html, body, #react-root {
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.react-loader {
  font-family: $font_default;
  text-align: center;
  margin-top: 30px;
}

.app {
  &-wrapper {
    position: relative;
    padding-top: $navigation_height;
    width: 100%;
    min-width: $screen_min;
    min-height: 100%;
    font-family: $font_default;

    @include respond_to(mobile) {
      padding-bottom: ($footer_height * 2) + $screen_padding;
    }

    @include respond_to(desktop) {
      padding-bottom: $footer_height + $screen_padding;
    }
  }

  &-counters {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1px;
    height: 1px;
    margin-left: -9999px;
  }
}