@import 'styles/variables';
@import 'styles/mixins';

.app-grid {
  max-width: 100%;
  width: 100%;

  @include respond_to(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: flex-start;
    align-content: flex-start;
  }

  &__item {
    max-width: 100%;

    &--with-content-padding {
      padding: 0px $default_padding;
    }
  
    @include respond_to(mobile) {
      width: 100% !important;
      margin-bottom: $default_padding;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}