/* responsive */
$screen_phone: 320px;
$screen_tablet: 480px;
$screen_wide: 980px;

/* default font */
$font_default: 'Open Sans', sans-serif;

$header_height: 40px;
$footer_height: 40px;
$screen_padding: 15px;