/* responsive */
$screen_min: 320px;
$screen_mobile: 520px;
$screen_max: 980px;

/* animations */
$transition_duration: 160ms;
$transition_function: ease;

/* default font */
$font_default: 'Open Sans', sans-serif;

/* default link color */
$link_color_default: rgb(29, 111, 185);

$navigation_height_mobile: 40px;
$navigation_height_desktop: 50px;
$footer_line_height: 50px;
$footer_mobile_height: $footer_line_height * 3;
$footer_desktop_height: $footer_line_height * 1;
$default_padding: 15px;

/* z-indexes */
$z_index_content: 10;
$z_index_footer: 50;
$z_index_navigation: 100;
$z_index_navigation_button: 101;
$z_index_navigation_title: 102;
$z_index_navigation_shadow: 103;
$z_index_navigation_links: 104;
$z_index_progress: 110;