@import 'styles/variables';
@import 'styles/mixins';

.page-header {
  position: relative;
  height: 60vh;
  width: 100%;
  background-color: #EEE;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $default_padding;

  &:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: " ";
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(50,50,50,0.30) 50%);
  }

  &__title {
    position: relative;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 1px;

    @include respond_to(mobile) {
      font-size: 24px;
      line-height: 30px;      
    }
  }

  &__desc {
    position: relative;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    margin-top: 10px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;

    @include respond_to(mobile) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__link {
    right: 20px;
    bottom: 20px;
    position: absolute;
    color: #FFF;
    font-size: 12px;
    line-height: 12px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .7);

    &:hover {
      text-shadow: 0px 0px 20px rgba(40, 40, 40, .4);
    }
  }

  &__date {
    left: 20px;
    bottom: 20px;
    position: absolute;
    color: #FFF;
    font-size: 12px;
    line-height: 12px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .7);
  }
}