@import 'styles/variables';
@import 'styles/mixins';

.app-content {
  font-family: $font_default;
  font-size: 14px;
  z-index: $z_index_content;

  &--full {
    width: 100%;
  }

  &--fit {
    min-width: $screen_min;
    max-width: $screen_max;
    margin: auto;
  }

  &--with-padding-top {
    padding-top: $default_padding;
  }

  &--with-content-padding {
    padding-left: $default_padding;
    padding-right: $default_padding;
  }

  &--with-overlap {
    margin-top: -1 * $navigation_height;
  }
}