@import 'styles/variables';
@import 'styles/mixins';

$bg_color: rgba(18, 108, 185, .5);
$height: 2px;

@keyframes request-progress {
  0% { left: -10%; opacity: 0; }
  1% { opacity: 1; }
  99% { opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

.request-progress {
  position: relative;
  height: $height;
  background: $bg_color;
  border-radius: 0px 3px 3px 0px;
  overflow: hidden;
  transition: width 250ms linear;

  &:after {
    content: " ";
    display: block;
    overflow: hidden;
    width: 100px;
    height: $height;
    background: linear-gradient(to right, rgba(255,255,255, 0.05) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.05) 100%);
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 0%;
    animation-name: request-progress;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
  }

  &-wrapper {
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: $z_index_progress;
    width: 100%;
    height: $height;

    &--hidden {
      visibility: hidden;
    }
  }
}