@import 'styles/variables';
@import 'styles/mixins';

$storage_upload_height: 25px;

.storage {
  &__upload {
    height: $storage_upload_height;
    position: relative;
    background: #f5f5f5;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    transition: background $transition_duration $transition_function,
                color $transition_duration $transition_function;

    &-progress {
      position: absolute;
      height: $storage_upload_height;
      top: 0px;
      left: 0px;
      transition: background $transition_duration $transition_function;
      border-radius: 3px;
      background: rgba(185, 208, 163, 0.6);

      &--error {
        background: rgba(177, 7, 7, 0.3);
      }
    }

    &:hover &-progress {
      background: rgba(185, 208, 163, 0.8);
    }

    &:hover &-progress--error {
        background: rgba(177, 7, 7, 0.5);
    }

    &-title {
      top: 0px;
      left: 0px;
      margin-right: 150px;
      padding-left: 10px;
      position: relative;
      line-height: $storage_upload_height;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
    }

    &-status {
      top: 0px;
      right: 10px;
      position: absolute;
      line-height: $storage_upload_height;
    }
  }

  &__uploader {
    &-wrapper {
      position: relative;
      overflow-y: hidden;
    }

    &-drop {
      width: 100%;
      padding: 0px $default_padding;
      line-height: 90px;
      white-space: nowrap;
      text-align: center;
      color: #666;
      background: #f5f5f5;
      cursor: pointer;
      transition: background $transition_duration $transition_function,
                  color $transition_duration $transition_function;

      &:hover, &--hover {
        background: #EEE !important;
        color: #333;
      }
    }

    &-input {
      position: absolute;
      top: 0px;
      left: 0px;
      margin-left: -9999px;
    }
  }

  &__options-group {
    margin-bottom: $default_padding;
    border-bottom: 1px solid #EEE;
    padding-bottom: $default_padding;

    &:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: 0px solid #EEE;
    }

    @include respond_to(mobile) {
      text-align: center;
    }
  }

  &__option {
    height: 24px;
    line-height: 24px;
    display: block;
    cursor: pointer;
    padding: 0px 10px;
    margin: 0px 0px 5px 0px;
    border-radius: 3px;
    position: relative;
    background-color: #FFF;
    transition: background $transition_duration $transition_function;

    @include respond_to(mobile) {
      margin: 0px 5px 5px 5px;
      display: inline-block;
    }

    &:hover, &--selected {
      background-color: #f5f5f5;
    }

    & span {
      display: block;
      position: absolute;
      right: 5px;
      top: 0px;
      line-height: 24px;
      height: 24px;
      color: #999;
      font-size: 12px;
      
      @include respond_to(mobile) {
        display: none;
      }
    }

    &--media {
      padding-left: 30px;
      background-position: 3px 50%;
      background-repeat: no-repeat;
      background-size: 20px auto;

      &-all {
        background-image: url(./media/media_all.png);
      }

      &-image {
        background-image: url(./media/media_image.png);
      }

      &-video {
        background-image: url(./media/media_video.png);
      }

      &-audio {
        background-image: url(./media/media_audio.png);
      }

      &-document {
        background-image: url(./media/media_document.png);
      }

      &-source {
        background-image: url(./media/media_source.png);
      }

      &-archive {
        background-image: url(./media/media_archive.png);
      }

      &-other {
        background-image: url(./media/media_other.png);
      }
    }
  }

  &__file {
    &-wrapper {
      padding: 10px 5px 10px 65px;
      position: relative;
      font-size: 12px;
      color: #666;
      line-height: 25px;
      opacity: 1;
      border-bottom: 1px solid #EEE;
      transition: background $transition_duration $transition_function,
                  opacity $transition_duration $transition_function;

      &--deleted {
        opacity: .5;
      }

      &:last-child {
        border-bottom: 0px solid #EEE;
      }

      &:hover {
        background: #f5f5f5;
        cursor: pointer;
      }
    }

    &-preview {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 10px;
      left: 5px;
      cursor: pointer;
      border-radius: 3px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-ico {
      background-size: 30px 30px;
      width: 30px;
      height: 30px;
      opacity: .7;
      top: 20px;
      left: 15px;
      position: absolute;

      &--image {
        background-image: url(./media/media_image.png);
      }

      &--video {
        background-image: url(./media/media_video.png);
      }

      &--audio {
        background-image: url(./media/media_audio.png);
      }

      &--document {
        background-image: url(./media/media_document.png);
      }

      &--source {
        background-image: url(./media/media_source.png);
      }

      &--archive {
        background-image: url(./media/media_archive.png);
      }

      &--other {
        background-image: url(./media/media_other.png);
      }
    }

    &-title {
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      margin-right: 70px;

      & a {
        font-weight: bold;
        color: $link_color_default;
      }
    }

    &-loader {
      position: absolute;
      top: 15px;
      right: 5px;
      height: 25px;
    }

    &-delete, &-restore {
      position: absolute;
      top: 10px;
      right: 0px;
      padding: 0px 5px;
      font-weight: bold;
      transition: opacity $transition_duration $transition_function;

      &:hover {
        opacity: 1;
      }
    }

    &-restore {
      opacity: .9;
      color: $link_color_default;
    }

    &-delete {
      opacity: .5;
      color: #A20101 !important;
    }

    &-info {
      color: #999;
      overflow: hidden;
      white-space: nowrap;
    }

    &-downloads {
      position: absolute;
      bottom: 10px;
      right: 5px;
    }
  }
  
}