@import 'styles/variables';
@import 'styles/mixins';

.ui-content-title {
  font-family: $font_default;
  font-size: 26px;
  line-height: 40px;
  display: block;
  text-transform: capitalize;
  color: #333;
  letter-spacing: 1px;
}